.bottom-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  border-top: 1px solid #a8a8a8;
  background: #fff;
}

.nav-link {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-name {
  font-size: 0.8rem;
}
.tab-icon {
  font-size: 1.2rem;
  margin-bottom: 2%;
}
.bottom-nav .active {
  color: #ed424b;
}
